
Entregables/Carlos Alberto Cortes Sanchez/APPIUM/Behave/utils/__pycache__/Base_actions.cpython-311.pyc
Entregables/Carlos Alberto Cortes Sanchez/APPIUM/Behave/screens/__pycache__/checkout_screen.cpython-311.pyc
Entregables/Carlos Alberto Cortes Sanchez/APPIUM/Behave/screens/__pycache__/login_screen.cpython-311.pyc
*.pyc
